<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937792262665-9iv27qd8jcc45td8hcothsifvt8f6q44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937792262665-9iv27qd8jcc45td8hcothsifvt8f6q44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>937792262665-1opv61iksbv8sv0stc5cejllagmdj3od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjAW4Er2ZbjF7wjy2H8DBHzXaXatclfw</string>
	<key>GCM_SENDER_ID</key>
	<string>937792262665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noa99kee.flutterbasicapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-10500</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-10500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937792262665:ios:f2ba317e2947fd00cdded8</string>
</dict>
</plist>